<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 应用生成信息</strong></div>
  <div class="body-content">
    <div th:if="${err}">
      <h3 th:text="${err}"></h3>
    </div>
    <div th:unless="${err}">
      <h3>扫二维码下载:</h3>
      <img th:src="@{'/getQR/'+${appInfo.appKey}+'/'+${appInfo.versionName}+'/'+${appInfo.versionCode}}"/>
      <br/>
      打包生成的应用下载地址：<a style="color: #00aa00" th:href="@{'/appDownload/'+${appInfo.appKey}+'/'+${appInfo.versionName}+'/'+${appInfo.versionCode}}">点击下载</a>
    </div>
  </div>
</div>
<script th:inline="javascript">
  /*<![CDATA[*/


  /*]]>*/

</script>
</body></html>